._*
.DS_Store
.cloud
.storage
.vscode
*.Trash*
*.trashinfo
esphome
image
twilio
node-red
tts
www/*
!www/sounds
zones
.google.token
google_calendars.yaml
*.db
*.log.*
*.log
*.log.*
known_devices.yaml
options.xml
OZW_Log*
pyozw.sqlite
secrets.yaml
zw*.xml
custom_components
integrations/camera/cameras.yaml
